#Title{
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    /* background-color: aqua; */
}
#Body{ 
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-image: linear-gradient(white, lightblue);
}

.externallink{
    background-color: lightblue;
    border: 0ch;
    cursor: pointer;
    height: 30px;
    width: 90px;
    border-radius: 1ch;
}
.externallink:active{
    background-color:  #33ccff;
}

.contentlink{
    background-color: lightblue;
    border: 0ch;
    cursor: pointer;
    height: 300px;
    width: 100%;
    border-radius: 1ch;
}
.contentlink:active{
    background-color:  #33ccff;
}

#about{
    margin: 5%;
    text-align: center;
}
#abouttitle{
    font-size: larger;
}

#info{
    margin-top: 5%;
}