#Title{
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    /* background-color: aqua; */
}
#Body{ 
    font-family: Arial, Helvetica, sans-serif;
}

.externallink{
    background-color: lightblue;
    border: 0ch;
    cursor: pointer;
    height: 30px;
    width: 90px;
}
.contentlink{
    background-color: lightblue;
    border: 0ch;
    cursor: pointer;
    height: 300px;
    margin: 1%;
    border-radius: 1ch;
}