#Title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 200%;
    background-color: aqua;
}
#Body{ /* Margin Handling */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}
#aboutcontacttable{
    margin-top: -5%;
}
.externallink{
    background-color: aqua;
    border: 0ch;
}